<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgF4t8j8OgC5GkifaywEtFOmVf2aQKF18</string>
	<key>GCM_SENDER_ID</key>
	<string>789238011874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tagcommander.lib.tcdemo</string>
	<key>PROJECT_ID</key>
	<string>tcdemo-c485a</string>
	<key>STORAGE_BUCKET</key>
	<string>tcdemo-c485a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789238011874:ios:c55b19c32b8a9755f90bbb</string>
</dict>
</plist>